:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --brandcolor: #0c1031;
  --brandcolor-light: hsl(234, 61%, 22%);
  --accentcolor: #b5ba72;
  --accentcolor-light: hsl(64, 34%, 69%);
  --background-color: hsl(0, 0%, 90%);
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  text-align: center;
  container-type: inline-size;
}
.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main{
    flex: 1;
    z-index: 1;
    padding: 0.5rem;
  }
}
.header {
  background-color: var(--brandcolor);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    div{
      width: 90%;
      display: block;
      img{
        height: min( 10vh, 5rem);
      }
    }
    .☰{
      display: none;
      font-size: 1.5rem;
      padding: o.5rem;
      cursor: pointer;
      text-align: center;
      width: 10%;
    }
  }
  nav{
    ul{
    list-style: none;
    padding: 0.3rem;
    margin: 0;
    display: flex;
    width: 100%;
    gap: 1rem;
    li{
      flex: 1;
      text-align: center;
      a{
        color: white;
        text-decoration: none;
        }
      }
    }
  }
  .activeLink{
    border-bottom: 2px solid var(--accentcolor);
    color: var(--accentcolor);
    font-weight: bold;
  }
}
.sideMenu{
  flex-direction: column;
  align-items: center;
  background-color: var(--brandcolor);
  height: 100vh;
  width: min(40vw, 200px);
  z-index: 10;
  position: fixed;
  color: white;
  ul{
    list-style: none;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    li{
      width: 100%;
      text-align: left;
      a{
        display: flex;
        padding: 0.5rem 0.5rem;
        color: white;
        text-decoration: none;
        width: 80%;
      }
      .activeLink{
        font-weight: bold;
        background-color: var(--accentcolor);
        border-radius: 1rem;
      }
    }
  }
}
.Open{
  display: none;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.Closed{
  display: none;
  transform: translateX(-110%);
  transition: transform 0.3s ease-in-out;
}
.area{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: transparent;
}
footer{
  background-color: var(--brandcolor);
  color: white;
  text-align: center;
  padding: 0.5rem;
  p{
    border-bottom: 1px solid var(--accentcolor);
    padding-bottom: 0.5rem;
  }
  .links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    a{
      color: var(--accentcolor);
      text-decoration: none;
    }
  }
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  label{
    padding: 0.5rem;
    border: 1px solid var(--brandcolor);
    background-color: var(--background-color);
    border-radius: 1rem;
    font-size: 1rem;
    width: 90%;
    &:focus-within{
      box-shadow: 5px 5px 5px var(--accentcolor);
    }
    input{
      font-size: 1rem;
      width: 100%;
      background-color: transparent;
      border: none;
        &:focus{
        outline: none;
      }
    }
    .icon{
      fill: var(--brandcolor);
      &:hover{
        fill: var(--accentcolor);
      }
    }
  }
  svg{
    color: var(--brandcolor);
    font-size: 1.2rem;
  }
}
.darkButton{
  background-color: var(--brandcolor);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  &:hover{
    background-color: var(--brandcolor-light);
    scale: 1.05;
    font-weight: bold;
  }
}
.lightButton{
  background-color: var(--accentcolor);
  color: var(--brandcolor);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  &:hover{
    background-color: var(--accentcolor-light);
    scale: 1.05;
    font-weight: bold;
  }
}
.textBlock{
  color: #000;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.cardsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.card{
  background-color: var(--brandcolor);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    text-align: center;
  }
}
.buttonStack{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.eventList{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.eventCard{
  background-color: white;
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  h3{
    display: inline;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
  }
  div{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 0.2rem; 
    span{
      background-color: var(--accentcolor);
      padding: 0.2rem;
      margin-right: 0.3rem;
      border-radius: 0.3rem;
      color: white;
    }
      p{
        margin: 0.5rem 0 0 0;
      }
  }
}
/* specific event */
.tabList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  .darkButton{
    &:hover, &:active{
      background-color: var(--accentcolor);
    }
  }
}
/* specific tab */
.tabMenu{
  display: flex;
  flex-direction: row;
  position:relative;
  left:-0.5rem;
  top:-0.5rem;
  width: 100cqw;
  margin: 0;
  background-color: var(--brandcolor);
  color: var(--background-color);
  ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    margin: 0;
    span{
      background-color: var(--accentcolor);
      color: var(--brandcolor);
      padding: 0.3rem;
      border-radius: 2rem;
      &:hover{
        cursor: pointer;
      }
    }
    li{
      min-width: fit-content;
      list-style: none;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
.tabSideMenu{
  position: relative;
  left:-0.5rem;
  top: -0.5rem;
  width: 100vw;

  .tTitle{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--brandcolor);
    color: var(--background-color);
    span{
      background-color: var(--accentcolor);
      color: var(--brandcolor);
      padding: 0.3rem;
      margin: 0.2rem;
      border-radius: 2rem;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .tSideMenu{
    display: none;
    flex-direction: row;
    margin: 0;
    background-color: var(--brandcolor);
    color: var(--background-color);
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    min-width: 30%;
    height: 100%;
    span{
      background-color: var(--accentcolor);
      color: var(--brandcolor);
      padding: 0.3rem;
      margin: 0.2rem;
      border-radius: 2rem;
      &:hover{
        cursor: pointer;
      }
    }
    ul{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap:0.3rem;
      padding: 0.5em;
      margin: 0;
      li{
        min-width: fit-content;
        list-style: none;
        border-bottom: 1px solid var(--accentcolor);
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
.aoe{
  z-index: 1;
  background-color:#0c103125;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.selectedTabItem{
  font-weight: bold;
  color: var(--accentcolor);
}
.tabHome, .results{
  display: block;
  flex-direction: column;
  align-items: start;
  li{
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.1rem;
    list-style: none;
    display: block;
    padding: 0.3rem;
    &:hover, &:active{
      cursor: pointer;
      background-color: var(--accentcolor);
      color: var(--brandcolor);

    }
  }
}
.round-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.roomCard{
  background-color: whitesmoke;
  border-radius: 1rem;
  margin-bottom: 1rem;
  max-width: 90%;
  display: grid;
  justify-self: center;
  
  .roomHeader{
    background-color: var(--brandcolor);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.1rem;
    color: var(--accentcolor);
  }
  .roomBody{
  padding-bottom: 0.5rem;
    li{
      list-style: none;
      display: grid;
      grid-template-columns: 3fr repeat(2, 1fr);
      border-bottom: 1px solid var(--background-color);
      text-align: start;
      gap: 0.3rem;
      span, strong{
        margin-left: 0.5rem;
      }
    } 
  }
}
table{
  overflow-x:hidden;
  border-radius: 1rem;
  min-width: 90%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  tr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  thead{
    background-color: var(--brandcolor);
    color: var(--accentcolor);
    padding: 0.5rem;
  }
  tbody{
    background-color: whitesmoke;
    tr{
      border-bottom: 1px solid var(--background-color);
    }
  }
}
#speller-standings{
  overflow-x: auto;
  scrollbar-width: none;
  table{
    margin-left: 0.5rem;
    justify-self: start;
    text-align: start;
    thead{
      padding-left: 0;
    }
    th{
      text-align: start;
    }
    tr{
      grid-template-columns: 3rem repeat(2, minmax(150px, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(70px, 1fr);
      gap: 1rem;
      padding-left: 0.5rem;
    }
  }
}

.words{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  .word{
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--accentcolor);
    &:hover{
      background-color: var(--brandcolor);
      color: white;
    }
  }
}

@media (max-width: 600px) {
  .header nav{
   display: none;
  }
  .header .logo .☰{
    display: block;
  }
  .Open, .Closed{
    display: block;
  }
  .tabMenu{
    display: none;
  }
  .tabSideMenu{
    display: block;

    .tTitle{
    display: flex;
    width: 100cqw;
    }
    .tSideMenu{
      display: flex;
    }
  }
}
