:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --brandcolor: hsl(234, 61%, 12%);
  --brandcolor-light: hsl(234, 61%, 22%);
  --brandcolor-dark: hsl(234, 61%, 5%);
  --accentcolor: #b5ba72;
  --accentcolor-light: hsl(64, 34%, 69%);
  --accentcolor-dark: hsl(64, 34%, 49%);
  --background-color: hsl(0, 0%, 90%);
  --white-color:whitesmoke;
  --transparent: hsla(0, 0%, 90%, 0);
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  text-align: center;
  container-type: inline-size;
}
.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main{
    flex: 1;
    z-index: 1;
    padding: 0.5rem;
  }
}
.header {
  background-color: var(--brandcolor);
  color: var(--white-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    div{
      width: 90%;
      display: block;
      img{
        height: min( 10vh, 5rem);
      }
    }
    .☰{
      display: none;
      font-size: 1.5rem;
      padding: o.5rem;
      cursor: pointer;
      text-align: center;
      width: 10%;
    }
  }
  nav{
    ul{
    list-style: none;
    padding: 0.3rem;
    margin: 0;
    display: flex;
    width: 100%;
    gap: 1rem;
    li{
      flex: 1;
      text-align: center;
      a{
        color: var(--white-color);
        text-decoration: none;
        }
      }
    }
  }
  .activeLink{
    border-bottom: 2px solid var(--accentcolor);
    color: var(--accentcolor);
    font-weight: bold;
  }
}
.sideMenu{
  flex-direction: column;
  align-items: center;
  background-color: var(--brandcolor);
  height: 100vh;
  width: min(40vw, 200px);
  z-index: 10;
  position: fixed;
  color: var(--white-color);
  ul{
    list-style: none;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    li{
      width: 100%;
      text-align: left;
      a{
        display: flex;
        padding: 0.5rem 0.5rem;
        color: var(--white-color);
        text-decoration: none;
        width: 80%;
      }
      .activeLink{
        font-weight: bold;
        background-color: var(--accentcolor);
        border-radius: 1rem;
      }
    }
  }
}
.Open{
  display: none;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.Closed{
  display: none;
  transform: translateX(-110%);
  transition: transform 0.3s ease-in-out;
}
.area{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: transparent;
}
@keyframes pulse-glow{
  0%{
    border-radius: 50%;
    border: 2px solid var(--transparent);
  }
  50%{
    box-shadow: 0 0 0 1rem var(--accentcolor);
    border-radius: 50%;
    scale: 1.05;
    border: 2px solid var(--brandcolor);
  }
  100%{
    border-radius: 50%;
    border: 2px solid var(--transparent);
  }
}
.loading{
  width: 10vh;
  height: 10vh;
  display: flex;
  align-self: center;
  justify-self: center;
  transform: translateY(10vh);
  background-image: url(/loadingMT.svg);
  background-size: cover;
  animation: pulse-glow 2s infinite;
}
footer{
  background-color: var(--brandcolor);
  color: var(--white-color);
  text-align: center;
  padding: 0.5rem;
  p{
    border-bottom: 1px solid var(--accentcolor);
    padding-bottom: 0.5rem;
  }
  .links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    a{
      color: var(--accentcolor);
      text-decoration: none;
    }
  }
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  label{
    padding: 0.5rem;
    border: 1px solid var(--brandcolor);
    background-color: var(--background-color);
    border-radius: 1rem;
    font-size: 1rem;
    width: 90%;
    &:focus-within{
      box-shadow: 5px 5px 5px var(--accentcolor);
    }
    input{
      font-size: 1rem;
      width: 100%;
      background-color: transparent;
      border: none;
        &:focus{
        outline: none;
      }
    }
    .icon{
      fill: var(--brandcolor);
      &:hover{
        fill: var(--accentcolor);
      }
    }
  }
  svg{
    color: var(--brandcolor);
    font-size: 1.2rem;
  }
}
.dropdown{
  cursor: pointer;
  position: relative;
  .selected{
    background-color: var(--accentcolor);
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 1rem;
    color: var(--white-color);
  }
  .options{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition: all 0.5s ease-in-out;
  }
  .area{
    z-index:1;
    background-color:#0c103125;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .dropped{
    opacity: 1;
    z-index: 2;
    background-color: none;
    visibility: visible;
    transform: translateY(0);
  }
  .selectedOption, .otherOptions{
    padding: 0.5rem;
    border-bottom: 1px solid var(--background-color);
  }
  .selectedOption{
    background-color: var(--accentcolor);
  }
  .otherOptions{
    background-color: var(--brandcolor);}
}
.toggleButton{
  width: 2rem;
  height: 1rem;
  border-radius: 5rem;
  background-color: var(--background-color);
  justify-self: center;
  transition: 0.5s ease;
  display: inline-block;
  cursor:pointer;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--accentcolor);
    left: 0;
    scale: 1.1;
    transition: 0.5s ease;
  }
  &.active{
    background-color: var(--accentcolor-light);
    &::after{
      transform: translateX(1rem);
    }
  }
}
.toastContainer{
  display: grid;
  max-width: 90%;
  gap: 1rem;
  --col: var(--brandcolor);
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  button{
    border-radius: 50%;
    border: none;
    aspect-ratio: 1/1;
    font-weight: bold;
    padding: 0.2rem;
  }

  .success, .error{
    background-color: var(--white-color);
    padding: 0.5rem;
    border-radius: 5rem 0 0 5rem;
    position: relative;
    border: 1px solid var(--background-color);
    border-right: 5px solid var(--col);
    text-wrap: wrap;
    display: flex;
    button{
      color: var(--col);
    }
  }
  .success{
    --col: green;
  }
  .error{
    --col: red;
  }
  .success::after, .error::after{
    content: '';
    height: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: runOut 5s;
    background-color: var(--col);
  }
}
@keyframes runOut {
  0%{
    width:100%;
  }
  100%{
    width: 0;
  }  
}
button:disabled{
  opacity: 0.5;
  pointer-events: none;
}
.darkButton{
  background-color: var(--brandcolor);
  color: var(--white-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  &:hover{
    background-color: var(--brandcolor-light);
    scale: 1.02;
  }
  &:active{
    background-color: var(--brandcolor-dark);
  }
}
.lightButton{
  background-color: var(--accentcolor);
  color: var(--brandcolor);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  &:hover{
    background-color: var(--accentcolor-light);
    scale: 1.02;
  }
  &:active{
    background-color: var(--accentcolor-dark);
  }
}
.textBlock{
  color: #000;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
form{
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.5rem;
  width: 80%;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  input, select{
    outline: none;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--background-color);
  }
  input:focus, select:focus{
    box-shadow: 5px 5px 5px var(--accentcolor);
  }
  span{
    color: var(--accentcolor);
    font-weight: bold;
    cursor: pointer;
  }
  .roomCard{
    width: 100%;
  }
}
dialog{
  border: 2px solid var(--accentcolor);
  border-radius: 1rem;
  padding: 0;
  top: 50%;
  bottom: 50%;
  max-height: 90vh;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
  form{
    background-color: var(--transparent);
    width: 80vw;
    max-width: 500px;
  }
}
select{
    outline: none;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--white-color);
    &:focus{
    box-shadow: 5px 5px 5px var(--accentcolor);
  }
}
.cardsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.card{
  background-color: var(--brandcolor);
  color: var(--white-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    text-align: center;
  }
}

.buttonStack{
  display: grid;
  grid-auto-flow: column;
  width: 90%;
  justify-self: center;
  background-color: var(--brandcolor);
  border-radius: 2rem;
  border: 3px solid var(--brandcolor-light);
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: 0.5rem;
  button{
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    &:hover{
      scale:1;
    }
  }
  .lightButton{
    anchor-name: --anch;
    background-color: transparent;
    color: var(--brandcolor);
    z-index: 1;
  }
  .darkButton{
    &:hover{
      background-color: var(--brandcolor);
      font-weight: bold;
    }
  }
}
.buttonStack::after{
  content: '';
  position: absolute;
  position-anchor: --anch;
  background-color: #b5ba72;
  bottom:anchor(bottom);
  top:anchor(top);
  border-radius: 3rem;
  left:anchor(left);
  right:anchor(right);
  transition: left 0.3s, right 0.3s; 
}
.eventList{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.eventCard{
  background-color: var(--white-color);
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  h3{
    display: inline;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
  }
  div{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 0.2rem; 
    span{
      background-color: var(--accentcolor);
      padding: 0.2rem;
      margin-right: 0.3rem;
      border-radius: 0.3rem;
      color: var(--white-color);
    }
      p{
        margin: 0.5rem 0 0 0;
      }
  }
}
/* specific event */
.tabList{
  display: grid;
  gap: 0.2rem;
  .darkButton{
    &:hover, &:active{
      background-color: var(--accentcolor);
    }
  }
  div{
    display: grid;
    background-color: var(--white-color);
    padding: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
    p{
      margin: 0;
    }
  }
}
/* specific tab */
.tabMenu{
  display: flex;
  flex-direction: row;
  position:relative;
  left:-0.5rem;
  top:-0.5rem;
  width: 100cqw;
  margin: 0;
  background-color: var(--brandcolor);
  color: var(--background-color);
  ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem;
    margin: 0;
    span{
      background-color: var(--accentcolor);
      color: var(--brandcolor);
      padding: 0.3rem;
      border-radius: 2rem;
      &:hover{
        cursor: pointer;
      }
    }
    li{
      min-width: fit-content;
      list-style: none;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
.tabSideMenu{
  position: relative;
  left:-0.5rem;
  top: -0.5rem;
  width: 100vw;

  .tTitle{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brandcolor);
    color: var(--background-color);
    span{
      background-color: var(--accentcolor);
      color: var(--brandcolor);
      padding: 0.3rem;
      margin: 0.2rem;
      border-radius: 2rem;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .tSideMenu{
    display: none;
    flex-direction: row;
    margin: 0;
    background-color: var(--brandcolor);
    color: var(--background-color);
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    min-width: 30%;
    height: 100%;
    span{
      background-color: var(--accentcolor);
      color: var(--brandcolor);
      padding: 0.3rem;
      margin: 0.2rem;
      border-radius: 2rem;
      &:hover{
        cursor: pointer;
      }
    }
    ul{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap:0.3rem;
      padding: 0.5em;
      margin: 0;
      li{
        min-width: fit-content;
        list-style: none;
        border-bottom: 1px solid var(--accentcolor);
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
.aoe{
  z-index: 1;
  background-color:#0c103125;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.selectedTabItem{
  font-weight: bold;
  color: var(--accentcolor);
}
.tabHome, .results{
  display: block;
  flex-direction: column;
  align-items: start;
  li{
    background-color: var(--white-color);
    border-radius: 0.5rem;
    margin: 0.1rem;
    list-style: none;
    display: block;
    padding: 0.3rem;
    &:hover, &:active{
      cursor: pointer;
      background-color: var(--accentcolor);
      color: var(--brandcolor);

    }
  }
}
.round-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.roomCard{
  background-color: var(--white-color);
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  justify-self: center;
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  flex-direction: column;
  
  .roomHeader{
    background-color: var(--brandcolor);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.1rem;
    color: var(--accentcolor);
  }
  .roomBody{
    padding-bottom: 0.5rem;
    min-width: max-content;
    li{
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      border-bottom: 1px solid var(--background-color);
      text-align: start;
      gap: 0.3rem;
      padding-right: 0.5rem;
      span, strong{
        margin-left: 0.5rem;
      }
    }
  span{
    color: black;
    font-weight: normal;
    cursor: pointer;
  }
  .cell{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-size: 1rem;
  } 
  }
}
table{
  border-radius: 1rem;
  min-width: 90%;
  /* justify-self: center; */
  width: max-content;
  display: flex;
  flex-direction: column;
  tr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  thead{
    background-color: var(--brandcolor);
    color: var(--accentcolor);
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  tbody{
    background-color: var(--white-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    tr{
      border-bottom: 1px solid var(--background-color);
    }
  }
}
.tableScroll{
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  display:block;
  margin: 0.5rem;
}

.words{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  .word{
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--accentcolor);
    &:hover{
      background-color: var(--brandcolor);
      color: var(--white-color);
    }
  }
}
/* sort button */
.sortToggle{
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
}

@media (max-width: 600px) {
  .header nav{
   display: none;
  }
  .header .logo .☰{
    display: block;
  }
  .Open, .Closed{
    display: block;
  }
  .tabMenu{
    display: none;
  }
  .tabSideMenu{
    display: block;

    .tTitle{
    display: flex;
    width: 100cqw;
    }
    .tSideMenu{
      display: flex;
    }
  }
}
